# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Po

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# M4 Files 
*.m4 

cmake-build-debug

.idea/
.project
.cproject

CMakeLists.txt

src/sample_coach
src/sample_player
src/sample_trainer
src/train.sh

Makefile
src/Makefile

Makefile.in
src/Makefile.in

aclocal.m4
configure

autom4te.cache/
config/compile

config.log
config.status

src/chain_action/.deps/
src/chain_action/.dirstamp
Lib/config*

Agent/src/sample_coach
Agent/src/sample_player
Agent/src/sample_trainer

Agent/Makefile
Agent/src/Makefile

Agent/Makefile.in
Agent/src/Makefile.in

Agent/aclocal.m4
Agent/configure

Agent/autom4te.cache/
Agent/config/compile

Agent/config.log
Agent/config.status
Agent/config.h
Agent/src/chain_action/.deps/
Agent/src/chain_action/.dirstamp
Agent/Lib/*
Agent/stamp-h1


Lib/src/rcg2txt
Lib/src/rcgresultprinter
Lib/src/rcgverconv
Lib/src/rclmscheduler
Lib/src/rcgrenameteam
Lib/src/rcgreverse
Lib/src/rcgversion
Lib/src/rclmtableprinter
Lib/config.h
Lib/config.log
Lib/config.status
Lib/Doxyfile
Lib/librcsc-config
Lib/librcscenv
Lib/librcsc.pc
Lib/librcsc.spec
Lib/libtool
Lib/stamp-h1
.idea/
.project
.cproject
cmake-build-debug

*/Makefile
*/.deps
*/.libs
*/*/Makefile
*/*/.deps
*/*/.libs
*/*/*/.deps
*/*/*/Makefile
*/*/*/.libs
*/*/*/*/.deps
*/*/*/*/Makefile
*/*/*/*/.libs
Lib/Doxyfile

Agent/src/start.sh
Agent/src/train.sh
Agent/src/keepaway.sh
